body{
    margin: 0;
}

.btnGenerateDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 70vh;
    width: 70vw;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.col{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    border-style: solid;
    border-color: black;
}

.colHover{
    background-color: chartreuse;
}
